* {@include box-sizing(border-box);}

body {
	font-family: $mainFont, sans-serif;
	font-size: 12px;
	-webkit-font-smoothing: antialiased;
	@include apply-to(min, $tablet) {
		font-size: 14px;
	}
	@include apply-to(min, $desktop) {
		font-size: 16px;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: $mainFont, sans-serif;
	font-weight: $black;
	line-height: .9;
	text-transform: uppercase;
}

strong {
	font-weight: $bold;
}

p {
	font-weight: $thin;
	font-size: 1.375em;
}

a {
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
}