//Fonts
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,700);

//Fonts
$mainFont: Lato;
$logoFont: 'Open Sans';
$thin: 300;
$normal: 400;
$bold: 700;
$black: 900;

//Colors
$beige: #efdabe;
$orange: #ff9100;
$lightBlue: #109ad7;
$blue: #4d62d4;
$green: #6eae43;
$gray: #dbdbdb;
$red: #eb4040;
$brown: #181818;
$rocketBlue: #5D6DB0;
$rocketGreen: #69A05E;
$rocketOrange: #E08944;

//Resolution breakpoints
$tablet: 481;
$laptop: 769;
$desktop: 992;
$desktop-large: 1200;

//Susy
$susy: (
		columns: 12,
		container: 100%,
		gutters: 1/4,
		math: fluid,
		output: float,
		gutter-position: inside,
		global-box-sizing: border-box,
);