<div id="id-dev-project" class="section" data-anchor="section4">
	<div class="content">
		<div class="section-heading">
			<h2 class="h-middle">Engagement models</h2>
		</div>
		<div class="flex-desktop">
			<div class="img-block">
				<figure class="mobile-img">
					<img src="assets/images/dev-project/dp-full.svg" alt="development project">
				</figure>
				<figure class="r-platform desktop-img">
					<img class="dp-pencil animated re-an" src="assets/images/dev-project/dp-pencil.png" alt="development project">
					<img class="dp-ruler animated re-an" src="assets/images/dev-project/dp-ruler.svg" alt="development project">
					<img class="dp-paper animated re-an" src="assets/images/dev-project/dp-paper.svg" alt="development project">
				</figure>
			</div>
			<div class="text-block">
				<h3 class="h-small">Development project</h3>
				<p class="text">Meet the deadline with your idea validation complete.</p>
				<p class="text">Use our platform or technology specialists as your team augmentation to succeed in a time boxed project.</p>
			</div>
		</div>
		<div class="btns-wr">
			<div class="btn-blue active btn-project">Project</div>
			<div class="btn-blue btn-team">Team</div>
			<div class="btn-blue btn-lab">Lab</div>
		</div>
	</div>
</div>