<div id="id-reinforce" class="section">
	<div class="content">
		<div class="section-heading">
			<h2 class="h-middle">Reinforce your business</h2>
		</div>
		<div class="btns-wr">
			<a href="" class="btn-request">Request a quote</a>
		</div>

	</div>
	<div class="r-cloud"></div>
	<div class="r-rocket-wr">
		<img src="assets/images/reinforce/r-animation-bg.png" alt="reinforce your business">
		<div class="r-fire1"></div>
		<div class="r-fire2"></div>
		<div class="r-fire3"></div>
		<div class="r-fire4"></div>
		<div class="r-trace1"></div>
		<div class="r-trace2"></div>
	</div>
</div>