<div class="rocket">
	<svg version="1.1" baseProfile="tiny" id="Слой_1"
	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 129.1 220.3"
	 overflow="scroll" xml:space="preserve">
<g>
	<path fill-rule="evenodd" fill="#E08944" stroke="#5D6DB0" stroke-miterlimit="10" d="M30,54.7v-2h66.4v2H30z"/>
	<path fill-rule="evenodd" fill="none" stroke="#5D6DB0" stroke-width="3" stroke-miterlimit="10" d="M65.4,72.7c8.8,0,16,7.2,16,16
		s-7.2,16-16,16s-16-7.2-16-16S56.6,72.7,65.4,72.7z"/>
	<g>
		<path fill="none" d="M65.4,65c13.1,0,23.8,10.6,23.8,23.8s-10.6,23.8-23.8,23.8s-23.8-10.6-23.8-23.8S52.3,65,65.4,65z"/>
		<g class="dots">
			<g>
				<path fill="none" d="M66.8,66.8c0,0,0.8,0,1.6,0.2c0.4,0.1,0.8,0.1,1.1,0.2c0.3,0,0.5,0.1,0.5,0.1l0.7-3.3c0,0-0.2-0.1-0.6-0.1
					c-0.3-0.1-0.8-0.1-1.2-0.2c-0.9-0.2-1.8-0.2-1.8-0.2L66.8,66.8z"/>
				<path fill-rule="evenodd" fill="#5D6DB0" d="M70.3,65.5c-0.2,0.9-1.1,1.6-1.9,1.4C67.6,66.7,66.9,66,67,65
					c0-0.9,0.9-1.7,1.9-1.5C69.9,63.7,70.5,64.5,70.3,65.5z"/>
			</g>
			<g>
				<path fill="none" d="M72.7,67.9c0,0,0.2,0.1,0.5,0.2c0.3,0.1,0.7,0.2,1,0.4c0.7,0.3,1.4,0.7,1.4,0.7l1.6-3c0,0-0.8-0.4-1.6-0.8
					c-0.4-0.2-0.9-0.3-1.2-0.5c-0.3-0.1-0.5-0.2-0.5-0.2L72.7,67.9z"/>
				<path fill-rule="evenodd" fill="#5D6DB0" d="M76.4,67.7c-0.4,0.8-1.4,1.2-2.2,0.8c-0.8-0.3-1.2-1.3-0.9-2.2
					c0.3-0.9,1.3-1.4,2.3-1C76.5,65.8,76.9,66.9,76.4,67.7z"/>
			</g>
			<g>
				<path fill="none" d="M78.1,70.7c0,0,0.6,0.5,1.3,0.9c0.6,0.5,1.2,1.1,1.2,1.1l2.3-2.5c0,0-0.7-0.6-1.4-1.2
					c-0.7-0.5-1.5-1.1-1.5-1.1L78.1,70.7z"/>
				<path fill-rule="evenodd" fill="#5D6DB0" d="M81.7,71.4c-0.7,0.7-1.7,0.7-2.3,0.2c-0.7-0.5-0.8-1.6-0.3-2.3
					c0.5-0.8,1.6-0.9,2.4-0.3C82.3,69.6,82.3,70.8,81.7,71.4z"/>
			</g>
			<g>
				<path fill="none" d="M82.5,74.8c0,0,0.5,0.6,0.9,1.3c0.3,0.3,0.5,0.6,0.6,0.9c0.2,0.3,0.3,0.4,0.3,0.4l2.9-1.8
					c0,0-0.1-0.2-0.3-0.5c-0.2-0.3-0.4-0.7-0.7-1c-0.5-0.7-1.1-1.5-1.1-1.5L82.5,74.8z"/>
				<path fill-rule="evenodd" fill="#5D6DB0" d="M85.7,76.5c-0.8,0.5-1.8,0.2-2.3-0.4c-0.5-0.7-0.3-1.7,0.4-2.3
					c0.7-0.6,1.8-0.4,2.4,0.4C86.8,74.9,86.5,76,85.7,76.5z"/>
			</g>
			<g>
				<path fill="none" d="M85.6,79.9c0,0,0,0,0.1,0.1c0,0.1,0.1,0.2,0.1,0.3c0.1,0.3,0.2,0.6,0.4,1c0.3,0.7,0.5,1.5,0.5,1.5l3.3-0.9
					c0,0-0.2-0.9-0.6-1.7c-0.2-0.4-0.3-0.9-0.4-1.2c-0.1-0.2-0.1-0.3-0.2-0.4c0-0.1-0.1-0.1-0.1-0.1L85.6,79.9z"/>
				<path fill-rule="evenodd" fill="#5D6DB0" d="M88.3,82.4c-0.9,0.2-1.8-0.3-2.1-1c-0.3-0.8,0.2-1.8,1-2.2c0.9-0.4,1.9,0.1,2.2,1
					C89.8,81.2,89.2,82.2,88.3,82.4z"/>
			</g>
			<g>
				<path fill="none" d="M87.2,85.7c0,0,0.2,0.8,0.2,1.6c0,0.4,0,0.8,0.1,1.1c0,0.3,0,0.5,0,0.5l3.4,0c0,0,0-0.2,0-0.6
					c0-0.3,0-0.8-0.1-1.3c0-0.9-0.2-1.8-0.2-1.8L87.2,85.7z"/>
				<path fill-rule="evenodd" fill="#5D6DB0" d="M89.2,88.8c-0.9,0-1.7-0.7-1.8-1.6c0-0.9,0.6-1.7,1.5-1.8c0.9-0.1,1.9,0.6,1.9,1.6
					C90.8,88,90.1,88.8,89.2,88.8z"/>
			</g>
			<g>
				<path fill="none" d="M87.3,91.7c0,0-0.1,0.8-0.2,1.6c-0.2,0.8-0.4,1.5-0.4,1.5l3.3,0.9c0,0,0.2-0.9,0.5-1.8
					c0.1-0.9,0.3-1.8,0.3-1.8L87.3,91.7z"/>
				<path fill-rule="evenodd" fill="#5D6DB0" d="M88.3,95.2c-0.9-0.3-1.5-1.2-1.2-2c0.1-0.8,1-1.4,1.9-1.3c0.9,0.1,1.6,1,1.4,2
					C90.1,94.9,89.2,95.5,88.3,95.2z"/>
			</g>
			<g>
				<path fill="none" d="M85.7,97.4c0,0-0.3,0.7-0.7,1.4c-0.2,0.4-0.4,0.7-0.5,0.9c-0.2,0.3-0.3,0.4-0.3,0.4l2.9,1.8
					c0,0,0.1-0.2,0.3-0.5c0.2-0.3,0.4-0.7,0.6-1.1c0.4-0.8,0.8-1.6,0.8-1.6L85.7,97.4z"/>
				<path fill-rule="evenodd" fill="#5D6DB0" d="M85.7,101.1c-0.8-0.5-1-1.5-0.7-2.3c0.4-0.8,1.4-1.1,2.3-0.7
					c0.9,0.4,1.2,1.4,0.8,2.3C87.6,101.4,86.4,101.6,85.7,101.1z"/>
			</g>
			<g>
				<path fill="none" d="M82.6,102.6c0,0-0.1,0.2-0.3,0.4c-0.2,0.2-0.5,0.5-0.7,0.8c-0.5,0.6-1.1,1.1-1.1,1.1l2.3,2.5
					c0,0,0.7-0.6,1.3-1.3c0.3-0.3,0.6-0.7,0.8-0.9c0.2-0.2,0.4-0.4,0.4-0.4L82.6,102.6z"/>
				<path fill-rule="evenodd" fill="#5D6DB0" d="M81.6,106.1c-0.6-0.7-0.6-1.7,0-2.4c0.6-0.6,1.7-0.7,2.4-0.1
					c0.8,0.6,0.8,1.7,0.1,2.4C83.3,106.9,82.2,106.8,81.6,106.1z"/>
			</g>
			<g>
				<path fill="none" d="M78.2,106.7c0,0-0.2,0.1-0.4,0.3c-0.3,0.2-0.6,0.4-0.9,0.6c-0.3,0.2-0.7,0.4-0.9,0.6
					c-0.3,0.1-0.4,0.2-0.4,0.2l1.6,3c0,0,0.2-0.1,0.5-0.2c0.3-0.2,0.7-0.4,1.1-0.6c0.4-0.2,0.8-0.5,1.1-0.7c0.3-0.2,0.5-0.3,0.5-0.3
					L78.2,106.7z"/>
				<path fill-rule="evenodd" fill="#5D6DB0" d="M76.3,109.8c-0.2-0.4-0.2-0.9-0.1-1.3c0.1-0.4,0.3-0.8,0.7-1
					c0.4-0.2,0.8-0.3,1.2-0.2c0.4,0.1,0.8,0.3,1.1,0.7c0.3,0.4,0.4,0.8,0.3,1.3c-0.1,0.4-0.4,0.8-0.8,1.1c-0.4,0.3-0.9,0.3-1.3,0.2
					C76.9,110.6,76.5,110.3,76.3,109.8z"/>
			</g>
			<g>
				<path fill="none" d="M72.9,109.5c0,0-0.2,0.1-0.5,0.2c-0.3,0.1-0.7,0.2-1,0.3c-0.8,0.2-1.5,0.4-1.5,0.4l0.7,3.3
					c0,0,0.9-0.2,1.8-0.4c0.4-0.1,0.9-0.2,1.2-0.4c0.3-0.1,0.5-0.2,0.5-0.2L72.9,109.5z"/>
				<path fill-rule="evenodd" fill="#5D6DB0" d="M70.2,112c-0.2-0.9,0.4-1.9,1.2-2.1c0.4-0.1,0.9,0,1.2,0.2c0.4,0.2,0.7,0.5,0.9,1
					c0.2,0.4,0.1,0.9-0.1,1.3c-0.2,0.4-0.6,0.7-1.1,0.8C71.3,113.5,70.3,112.9,70.2,112z"/>
			</g>
			<g>
				<path fill="none" d="M67,110.7c0,0-0.8,0-1.6,0.1c-0.8,0-1.6-0.1-1.6-0.1l-0.2,3.4c0,0,0.9,0,1.8,0.1c0.9,0,1.8-0.1,1.8-0.1
					L67,110.7z"/>
				<path fill-rule="evenodd" fill="#5D6DB0" d="M63.7,112.4c0.1-0.9,0.8-1.7,1.7-1.6c0.9,0,1.6,0.7,1.7,1.6
					c0.1,0.9-0.7,1.7-1.7,1.8C64.4,114.1,63.6,113.3,63.7,112.4z"/>
			</g>
			<g>
				<path fill="none" d="M61,110.3c0,0-0.8-0.2-1.5-0.4c-0.4-0.1-0.8-0.2-1-0.3c-0.3-0.1-0.5-0.2-0.5-0.2l-1.2,3.2
					c0,0,0.2,0.1,0.5,0.2c0.3,0.1,0.8,0.3,1.2,0.4c0.9,0.2,1.8,0.4,1.8,0.4L61,110.3z"/>
				<path fill-rule="evenodd" fill="#5D6DB0" d="M57.4,111.1c0.2-0.4,0.5-0.8,0.9-1c0.4-0.2,0.8-0.2,1.2-0.2
					c0.8,0.2,1.4,1.1,1.2,2.1c-0.2,0.9-1.1,1.5-2.1,1.2c-0.5-0.1-0.9-0.4-1.1-0.8C57.3,112,57.2,111.5,57.4,111.1z"/>
			</g>
			<g>
				<path fill="none" d="M55.3,108.3c0,0-0.2-0.1-0.4-0.2c-0.3-0.2-0.6-0.4-0.9-0.6c-0.3-0.2-0.7-0.4-0.9-0.6
					c-0.2-0.2-0.4-0.3-0.4-0.3l-2,2.8c0,0,0.2,0.1,0.5,0.3c0.3,0.2,0.7,0.4,1.1,0.7c0.4,0.2,0.8,0.5,1.1,0.6
					c0.3,0.1,0.5,0.2,0.5,0.2L55.3,108.3z"/>
				<path fill-rule="evenodd" fill="#5D6DB0" d="M51.7,108.1c0.3-0.4,0.7-0.6,1.1-0.7c0.4-0.1,0.9-0.1,1.2,0.2
					c0.4,0.2,0.6,0.6,0.7,1c0.1,0.4,0.1,0.9-0.1,1.3c-0.2,0.4-0.6,0.7-1,0.8c-0.4,0.1-0.9,0-1.3-0.2c-0.4-0.3-0.7-0.7-0.8-1.1
					C51.3,108.9,51.4,108.5,51.7,108.1z"/>
			</g>
			<g>
				<path fill="none" d="M50.4,104.9c0,0-0.6-0.5-1.1-1.1c-0.3-0.3-0.5-0.6-0.7-0.8c-0.2-0.2-0.3-0.4-0.3-0.4l-2.7,2.1
					c0,0,0.1,0.2,0.4,0.4c0.2,0.3,0.5,0.6,0.8,0.9c0.6,0.7,1.3,1.3,1.3,1.3L50.4,104.9z"/>
				<path fill-rule="evenodd" fill="#5D6DB0" d="M46.9,103.7c0.7-0.6,1.8-0.5,2.4,0.1c0.6,0.7,0.6,1.7,0,2.4c-0.6,0.7-1.8,0.7-2.5,0
					C46.1,105.3,46.2,104.3,46.9,103.7z"/>
			</g>
			<g>
				<path fill="none" d="M46.6,100.2c0,0-0.1-0.2-0.3-0.4c-0.2-0.3-0.4-0.6-0.5-0.9c-0.3-0.7-0.7-1.4-0.7-1.4L42,98.8
					c0,0,0.4,0.8,0.8,1.6c0.2,0.4,0.4,0.8,0.6,1.1c0.2,0.3,0.3,0.5,0.3,0.5L46.6,100.2z"/>
				<path fill-rule="evenodd" fill="#5D6DB0" d="M43.6,98.1c0.9-0.4,1.9,0,2.3,0.7c0.4,0.8,0.1,1.7-0.7,2.3
					c-0.8,0.5-1.9,0.2-2.4-0.7C42.4,99.5,42.7,98.5,43.6,98.1z"/>
			</g>
			<g>
				<path fill="none" d="M44.2,94.7c0,0-0.2-0.8-0.4-1.5c-0.1-0.8-0.2-1.6-0.2-1.6l-3.4,0.4c0,0,0.1,0.9,0.3,1.8
					c0.2,0.9,0.5,1.8,0.5,1.8L44.2,94.7z"/>
				<path fill-rule="evenodd" fill="#5D6DB0" d="M41.9,91.9c0.9-0.1,1.8,0.5,1.9,1.3c0.2,0.8-0.3,1.7-1.2,2
					c-0.9,0.3-1.8-0.3-2.1-1.3C40.3,92.9,41,92,41.9,91.9z"/>
			</g>
			<g>
				<path fill="none" d="M43.4,88.8c0,0,0-0.2,0-0.5c0-0.3,0-0.7,0.1-1.1c0-0.8,0.2-1.6,0.2-1.6l-3.4-0.5c0,0-0.2,0.9-0.2,1.8
					c0,0.5,0,0.9-0.1,1.3c0,0.3,0,0.6,0,0.6L43.4,88.8z"/>
				<path fill-rule="evenodd" fill="#5D6DB0" d="M41.9,85.4c0.9,0.1,1.5,0.9,1.5,1.8c0,0.9-0.9,1.6-1.8,1.6c-1,0-1.7-0.8-1.6-1.8
					C40.1,86,41,85.3,41.9,85.4z"/>
			</g>
			<g>
				<path fill="none" d="M44.2,82.9c0,0,0.2-0.8,0.5-1.5c0.1-0.4,0.3-0.7,0.4-1c0-0.1,0.1-0.3,0.1-0.3c0-0.1,0.1-0.1,0.1-0.1
					l-3.1-1.4c0,0,0,0.1-0.1,0.1c0,0.1-0.1,0.2-0.2,0.4c-0.1,0.3-0.3,0.7-0.4,1.2c-0.3,0.8-0.6,1.7-0.6,1.7L44.2,82.9z"/>
				<path fill-rule="evenodd" fill="#5D6DB0" d="M43.7,79.2c0.8,0.4,1.3,1.3,1,2.2c-0.3,0.8-1.2,1.3-2.1,1c-0.9-0.2-1.5-1.2-1.1-2.2
					C41.8,79.2,42.8,78.8,43.7,79.2z"/>
			</g>
			<g>
				<path fill="none" d="M46.6,77.3c0,0,0.1-0.2,0.3-0.4c0.2-0.3,0.4-0.6,0.6-0.9c0.5-0.6,0.9-1.3,0.9-1.3l-2.6-2.2
					c0,0-0.5,0.7-1.1,1.5c-0.3,0.4-0.5,0.7-0.7,1c-0.2,0.3-0.3,0.5-0.3,0.5L46.6,77.3z"/>
				<path fill-rule="evenodd" fill="#5D6DB0" d="M47,73.7c0.7,0.6,0.9,1.7,0.4,2.3c-0.5,0.7-1.5,0.9-2.3,0.4
					c-0.8-0.5-1.1-1.6-0.5-2.4C45.2,73.2,46.3,73.1,47,73.7z"/>
			</g>
			<g>
				<path fill="none" d="M50.3,72.7c0,0,0.6-0.5,1.2-1.1c0.6-0.5,1.3-0.9,1.3-0.9l-2-2.8c0,0-0.7,0.5-1.5,1.1
					c-0.7,0.6-1.4,1.2-1.4,1.2L50.3,72.7z"/>
				<path fill-rule="evenodd" fill="#5D6DB0" d="M51.8,69.3c0.5,0.8,0.4,1.8-0.3,2.3c-0.7,0.6-1.7,0.5-2.3-0.2
					c-0.6-0.7-0.6-1.8,0.2-2.5C50.2,68.4,51.3,68.5,51.8,69.3z"/>
			</g>
			<g>
				<path fill="none" d="M55.2,69.2c0,0,0.7-0.3,1.4-0.7c0.4-0.2,0.7-0.3,1-0.4c0.3-0.1,0.5-0.2,0.5-0.2L57,64.7
					c0,0-0.2,0.1-0.5,0.2c-0.3,0.1-0.8,0.3-1.2,0.5c-0.8,0.4-1.6,0.8-1.6,0.8L55.2,69.2z"/>
				<path fill-rule="evenodd" fill="#5D6DB0" d="M57.5,66.3c0.3,0.9-0.1,1.8-0.9,2.2c-0.8,0.4-1.8,0-2.2-0.8
					c-0.4-0.8-0.1-1.9,0.9-2.3C56.2,65,57.2,65.5,57.5,66.3z"/>
			</g>
			<g>
				<path fill="none" d="M60.9,67.2c0,0,0.2,0,0.5-0.1c0.3,0,0.7-0.1,1.1-0.2c0.8-0.2,1.6-0.2,1.6-0.2l-0.2-3.4c0,0-0.9,0-1.8,0.2
					c-0.5,0.1-0.9,0.1-1.2,0.2c-0.3,0-0.6,0.1-0.6,0.1L60.9,67.2z"/>
				<path fill-rule="evenodd" fill="#5D6DB0" d="M63.9,65c0.1,1-0.6,1.7-1.5,1.9c-0.8,0.1-1.7-0.5-1.9-1.4c-0.2-0.9,0.4-1.8,1.4-2
					C63,63.3,63.8,64.1,63.9,65z"/>
			</g>
		</g>
	</g>
	<path class="wing" fill-rule="evenodd" fill="#D6DAEF" stroke="#5D6DB0" stroke-width="3" stroke-miterlimit="10" d="M111.1,217.7h6.9
		c0,0,26.4-49.6-12.6-75.5l-21,47.8C84.4,190,106.3,191.8,111.1,217.7z"/>
	<path class="wing" fill-rule="evenodd" fill="#D6DAEF" stroke="#5D6DB0" stroke-width="3" stroke-miterlimit="10" d="M17.4,217.7h-7
		c0,0-25.8-48.6,13.7-74.5l19.1,47C43.3,190.2,22.3,191.8,17.4,217.7z"/>
	<path fill-rule="evenodd" fill="none" stroke="#5D6DB0" stroke-width="3" stroke-miterlimit="10" d="M47.4,195.7c0,0-30-47.9-30-94
		c0-46.1,46-98,46-98s48,54.1,48,98c0,43.9-30,94-30,94H47.4z"/>
	<g class="dots">
		<g>
			<rect x="29.3" y="56.5" fill="none" width="1.7" height="1.7"/>
			<ellipse fill-rule="evenodd" fill="#5D6DB0" cx="30.1" cy="57.3" rx="0.8" ry="0.9"/>
		</g>
		<g>
			<rect x="33.2" y="56.5" fill="none" width="1.7" height="1.7"/>
			<ellipse fill-rule="evenodd" fill="#5D6DB0" cx="34.1" cy="57.3" rx="0.8" ry="0.9"/>
		</g>
		<g>
			<rect x="36.4" y="56.5" fill="none" width="1.7" height="1.7"/>
			<ellipse fill-rule="evenodd" fill="#5D6DB0" cx="37.2" cy="57.3" rx="0.8" ry="0.9"/>
		</g>
		<g>
			<rect x="39.6" y="56.5" fill="none" width="1.7" height="1.7"/>
			<ellipse fill-rule="evenodd" fill="#5D6DB0" cx="40.4" cy="57.3" rx="0.8" ry="0.9"/>
		</g>
		<g>
			<rect x="42.8" y="56.5" fill="none" width="1.7" height="1.7"/>
			<ellipse fill-rule="evenodd" fill="#5D6DB0" cx="43.6" cy="57.3" rx="0.8" ry="0.9"/>
		</g>
		<g>
			<rect x="46" y="56.5" fill="none" width="1.7" height="1.7"/>
			<ellipse fill-rule="evenodd" fill="#5D6DB0" cx="46.8" cy="57.3" rx="0.8" ry="0.9"/>
		</g>
		<g>
			<rect x="49.2" y="56.5" fill="none" width="1.7" height="1.7"/>
			<ellipse fill-rule="evenodd" fill="#5D6DB0" cx="50" cy="57.3" rx="0.8" ry="0.9"/>
		</g>
		<g>
			<rect x="52.4" y="56.5" fill="none" width="1.7" height="1.7"/>
			<ellipse fill-rule="evenodd" fill="#5D6DB0" cx="53.2" cy="57.3" rx="0.8" ry="0.9"/>
		</g>
		<g>
			<rect x="55.6" y="56.5" fill="none" width="1.7" height="1.7"/>
			<ellipse fill-rule="evenodd" fill="#5D6DB0" cx="56.4" cy="57.3" rx="0.8" ry="0.9"/>
		</g>
		<g>
			<rect x="58.7" y="56.5" fill="none" width="1.7" height="1.7"/>
			<ellipse fill-rule="evenodd" fill="#5D6DB0" cx="59.6" cy="57.3" rx="0.8" ry="0.9"/>
		</g>
		<g>
			<rect x="61.9" y="56.5" fill="none" width="1.7" height="1.7"/>
			<ellipse fill-rule="evenodd" fill="#5D6DB0" cx="62.8" cy="57.3" rx="0.8" ry="0.9"/>
		</g>
		<g>
			<rect x="65.1" y="56.5" fill="none" width="1.7" height="1.7"/>
			<ellipse fill-rule="evenodd" fill="#5D6DB0" cx="66" cy="57.3" rx="0.8" ry="0.9"/>
		</g>
		<g>
			<rect x="68.3" y="56.5" fill="none" width="1.7" height="1.7"/>
			<ellipse fill-rule="evenodd" fill="#5D6DB0" cx="69.2" cy="57.3" rx="0.8" ry="0.9"/>
		</g>
		<g>
			<rect x="71.5" y="56.5" fill="none" width="1.7" height="1.7"/>
			<ellipse fill-rule="evenodd" fill="#5D6DB0" cx="72.4" cy="57.3" rx="0.8" ry="0.9"/>
		</g>
		<g>
			<rect x="74.7" y="56.5" fill="none" width="1.7" height="1.7"/>
			<ellipse fill-rule="evenodd" fill="#5D6DB0" cx="75.5" cy="57.3" rx="0.8" ry="0.9"/>
		</g>
		<g>
			<rect x="77.9" y="56.5" fill="none" width="1.7" height="1.7"/>
			<ellipse fill-rule="evenodd" fill="#5D6DB0" cx="78.7" cy="57.3" rx="0.8" ry="0.9"/>
		</g>
		<g>
			<rect x="81.1" y="56.5" fill="none" width="1.7" height="1.7"/>
			<ellipse fill-rule="evenodd" fill="#5D6DB0" cx="81.9" cy="57.3" rx="0.8" ry="0.9"/>
		</g>
		<g>
			<rect x="84.3" y="56.5" fill="none" width="1.7" height="1.7"/>
			<ellipse fill-rule="evenodd" fill="#5D6DB0" cx="85.1" cy="57.3" rx="0.8" ry="0.9"/>
		</g>
		<g>
			<rect x="87.5" y="56.5" fill="none" width="1.7" height="1.7"/>
			<ellipse fill-rule="evenodd" fill="#5D6DB0" cx="88.3" cy="57.3" rx="0.8" ry="0.9"/>
		</g>
		<g>
			<rect x="90.7" y="56.5" fill="none" width="1.7" height="1.7"/>
			<ellipse fill-rule="evenodd" fill="#5D6DB0" cx="91.5" cy="57.3" rx="0.8" ry="0.9"/>
		</g>
		<g>
			<rect x="93.9" y="56.5" fill="none" width="1.7" height="1.7"/>
			<ellipse fill-rule="evenodd" fill="#5D6DB0" cx="94.7" cy="57.3" rx="0.8" ry="0.9"/>
		</g>
		<g>
			<rect x="97" y="56.5" fill="none" width="1.7" height="1.7"/>
			<ellipse fill-rule="evenodd" fill="#5D6DB0" cx="97.9" cy="57.3" rx="0.8" ry="0.9"/>
		</g>
	</g>
</g>
<path class="line" fill-rule="evenodd" fill="#5D6DB0" d="M39.5,177v-2h50v2H39.5z"/>
<path class="line" fill-rule="evenodd" fill="#5D6DB0" d="M31.2,55v-2h65.3v2H31.2z"/>
</svg>

</div>