<div id="id-technologies" class="section">
	<div class="technologies-wr">
		<div class="salesforce">
			<div class="h-salesforce"></div>
			<p class="text">
				Use the outstanding advantages of Salesforce lead cloud enterprise solution while dealing with our pros - and enjoy the results!
			</p>
			<figure>
				<img src="assets/images/technologies/sf-img.png" alt="technologies salesforce">
				<div class="gear1"></div>
				<div class="gear2"></div>
				<div class="gear3"></div>
			</figure>
		</div>
		<div class="web">
			<figure>
				<img src="assets/images/technologies/web-img.png" alt="web technologies">
				<div class="gear1"></div>
				<div class="gear2"></div>
				<div class="gear3"></div>
			</figure>
			<h3 class="h-small">Web</h3>
			<p class="text">
				Stake on resource-saving new technologies (portals, ecommerce platforms etc.). We can get your greatest ideas embodied perfectly by means of Ruby on Rails, PHP, Java, and more!
			</p>
		</div>
		<div class="mobile">
			<h3 class="h-small">Mobile</h3>
			<p class="text">
				Make your business mobile-accessible using appropriate extentions! We’ll build easy-to-use mobile apps for you to run  business with additional conveniences.
			</p>
			<figure>
				<img src="assets/images/technologies/mob-img.png" alt="mobile technologies">
				<div class="gear1"></div>
				<div class="gear2"></div>
				<div class="gear3"></div>
				<div class="gear4"></div>
			</figure>
		</div>
	</div>
</div>