%btn {
	display: inline-block;
	min-width: 10.8em;
	padding: 1.1em 2.2em;
	border-radius: 2.2em;
	font-size: 1.125em;
	line-height: .9;
	text-transform: uppercase;
	text-align: center;
	cursor: pointer;
}
.btn-orange {
	@extend %btn;
	background-color: white;
	border: 2px solid $rocketOrange;
	color: $rocketOrange;
	margin: 0 7px;
	&.active,
	&:hover {
		background-color: $rocketOrange;
		border: 1px solid $rocketOrange;
		color: white;
	}
}
.btn-blue {
	@extend %btn;
	background-color: white;
	border: 2px solid $rocketBlue;
	color: $rocketBlue;
	margin: 0 7px;
	&.active,
	&:hover {
		background-color: $rocketBlue;
		border: 1px solid $rocketBlue;
		color: white;
	}
}
.btn-green {
	@extend %btn;
	background-color: white;
	border: 2px solid $rocketGreen;
	color: $rocketGreen;
	margin: 0 7px;
	&.active,
	&:hover {
		background-color: $rocketGreen;
		border: 1px solid $rocketGreen;
		color: white;
	}
}
.btn-request {
	@extend %btn;
	background-color: $orange;
	color: white;
	@include apply-to(min, $desktop) {
		width: 250px;
	}
}
.btns-wr {
	@include span(12);
	text-align: center;
	margin-top: 50px;
	#id-dev-project &,
	#id-dev-team &,
	#id-dev-lab & {
		display: none;
		@include apply-to(min, $desktop) {
			display: block;
			margin-top: 80px;
		}
	}
}
.section-heading {
	padding-left: gutter(12);
	padding-right: gutter(12);
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	@include apply-to(min, $tablet) {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	@include apply-to(min, $laptop) {
		margin-top: 40px;
		margin-bottom: 40px;
	}
	@include apply-to(min, $desktop) {
		margin-top: 50px;
		margin-bottom: 50px;
	}
}
.h-large {
	font-size: 3em;
	color: white;
	@include apply-to(min, $desktop) {
		font-size: 3.75em;
	}
}
.h-middle {
	font-size: 3em;
	color: $gray;
}
.h-small {
	font-size: 2.375em;
	color: black;
}
.post-h {
	color: darken($gray, 40);
	@include apply-to(min, $desktop) {
		width: 60%;
		margin: 0 auto;
	}
}
%table-desktop {
	@include apply-to(min, $desktop) {
		display: table;
		width: 100%;
		height: 100%;
		table-layout: fixed;
	}
}
%table-cell-desktop {
	@include apply-to(min, $desktop) {
		display: table-cell;
		vertical-align: middle;
	}
}
#fp-nav ul {
	margin-top: -75px;
	li a span {
		transition: all .3s ease-in-out;
	}
}
.mobile-img {
	@include apply-to(min, $desktop) {
		display: none;
	}
}
.desktop-img {
	display: none;
	@include apply-to(min, $desktop) {
		display: block;
	}
}
.flex-desktop {
	@include apply-to(min, $desktop) {
		display: flex;
		align-items: center;
	}
}