.menu-wr {
	background: rgba($brown, .8);
	bottom: 40px;
	z-index: 999;
	width: 100%;
	height: 0;
	position: fixed;
	overflow: hidden;
	transition: .8s ease;
	opacity: .7;
	display: flex;
	align-content: center;
	.menu-opened & {
		opacity: 1;
		height: calc(100% - 40px);
	}
}
#menu {
	@include container;
	@include apply-to(min, 1200) {
		@include container(1200px);
	}
	padding: 0 gutter(12);
	display: flex;
	flex-direction: column;
	justify-content: center;
	a {
		display: block;
		padding: 15px 10px;
		text-align: center;
		font-size: 1.4em;
		transition: .5s ease;
		color: white;
		&:link,
		&:visited,
		&:focus,
		&:active {
			color: white;
		}
		&.active,
		&:hover {
			color: $orange;
		}
	}
}
@media screen and (max-width: 768px ) and (orientation: landscape) {
	#menu {
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		align-content: center;
	}
}
.menu-controls-wr {
	background: rgba($brown, 1);
	width: 100%;
	position: fixed;
	bottom: 0;
	z-index: 999;
}
.menu-controls {
	@include container;
	padding: 0 gutter(12);
	@include apply-to(min, 1200) {
		@include container(1200px);
	}
}
#logo {
	background: url('../images/logo.png') no-repeat left center;
	-webkit-background-size: 50px auto;
	background-size: 50px auto;
	float: left;
	height: 40px;
	padding-left: 60px;
	color: white;
	font-family: $logoFont;
	font-size: 20px;
	font-weight: $thin;
	line-height: 42px;
	text-transform: uppercase;
}
#menu-trigger {
	font-size: 1.125em;
	line-height: 1.8;
	text-transform: uppercase;
	text-decoration: none;
	position: relative;
	float: right;
	margin-top: 5px;
	padding-left: 40px;
	color: $orange;
	.line {
		background-color: $orange;
		display: block;
		width: 28px;
		height: 4px;
		margin: 4px 0;
		border-radius: 2px;
		position: absolute;
		top: 0;
		left: 0;
		transition: .3s ease;
		&:nth-of-type(1) {top: 2px;}
		&:nth-of-type(2) {top: 10px;}
		&:nth-of-type(3) {top: 18px;}
		.menu-opened & {
			&:nth-of-type(1) {transform: translate(-1px, 8px) rotate(405deg);}
			&:nth-of-type(2) {display: none;}
			&:nth-of-type(3) {transform: translate(-1px, -8px) rotate(-405deg);}
		}
	}
	span {
		display: none;
		@include apply-to(min, $desktop) {
			display: block;
		}
	}
}